* {
  margin: 0;
  padding: 0;
}

.Portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
  background-color: #eee;
  margin: 10px 0px;
}
.Portfolio .imag img {
  width: 400px;
}
